#theLight{
    position: absolute;
    left: 32%;  
    top: 10%;
    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    opacity: 0.5;
    z-index: 1;

    width: 282px;
    height: 752px;
    cursor: pointer;
    pointer-events: none;
}

#theFire {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* 圖片鋪滿，保持比例 */
    mix-blend-mode: screen; /* 關鍵混合模式：加亮/去黑 */
    pointer-events: none;   /* 不要影響滑鼠事件 */
    opacity: 0;
    transition: opacity 3s ease;
    z-index: 20;          /* 確保在最上層 */
    user-select: none;
}

#trashBin {
    position: absolute;
    bottom: 90px;
    left: 26%;
    transform: translateX(-50%);
    font-size: 50px;
    opacity: 1;
    transition: left 1s, opacity 0.7s ease;
    z-index: 2;
    user-select: none;
}

