#theTitle {
    position: absolute;
    left: 50%;  
    top: 43%;
    font-size: 60px;
    transition: left 2s ease, top 2s ease;  /* 加入滑順回歸動畫 */
    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
  }

#theOffScreen
{
    position: absolute;
    left: 50%;  
    top: 73%;
    font-size: 70px;
    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
}

.exitOption{
    position: absolute;
    left: 50%;  
    top: 30%;
    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
}

.optionButton{
    font-size: 50px;
    font-weight: bold;
}

.optionTitle{
    font-size: 65px;
    font-weight: bold;
}

@keyframes shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(8px, -8px); }
    50% { transform: translate(-8px, 8px); }
    75% { transform: translate(8px, 8px); }
    100% { transform: translate(0px, 0px); }
  }
  
  .shake {
    animation: shake 0.3s infinite;
  }

  #blackScreen {
    position: fixed;
    pointer-events: none;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: 1000;
  }
  
  #loader {
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: none;
    animation: spin 1.5s linear infinite;
  }

  #loaderText {
    position: fixed;
    top: calc(50% + 20px); /* loading 圖中心向下位移 */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    z-index: 1002;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

  
