#exitOption{
    position: absolute;
    left: 75%;  
    top: 55%;
    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    transition: left 1s, top 1s ease,opacity 0.7s ease;
}

.optionButton{
    font-size: 50px;
    font-weight: bold;
}