#theOffScreen {
    position: absolute;
    left: 50%;
    top: 73%;
    font-size: 70px;
    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
  }

.wordContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 120px;
    justify-content: center;
    /* 可改成 space-around 或 flex-start */
    align-items: center;
    gap: 3px;
    /* 每個字的間距 */
    user-select: none;
    z-index: 8;
}

.word {
    position: absolute; /* 只保留這個 */
    font-size: 110px;
    font-weight: bold;
    cursor: grab;
    background-color: rgba(255, 0, 0, 0.0);
    user-select: none;
    opacity: 0 ;
    transition: left 0.3s, top 0.3s, opacity 0.5s ease;
}

#W1 { left: 23%; top: 250%; }
#W2 { left: 30%; top: 250%;}
#W3 { left: 37%; top: 250%; }
#W4 { left: 44%; top: 250%; }
#W5 { left: 51%; top: 250%; }
#W6 { left: 58%; top: 250%; }
#W7 { left: 65%; top: 250%; }
#W8 { left: 72%; top: 250%; }

